*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fcffe3;
}
header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #24282f;
}
a {
    text-decoration: none;
}
header h1{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.container{
    max-width: 1095px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.call_me{
    display: inline-block;
    padding: 8px 3px 3px;
    border: 2px solid #b5a263;
    height: 24px;
    text-align: center;
    background-color: #b5a263;
    color: #24282f;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
}
.call_me:hover{
    background-color: #24282f;
    color: #b5a263;
    padding: 8px 3px 3px;
    border: 2px solid #b5a263;
}
.call_me:hover span{
    display: none;
}
.call_me:hover:before{
    content: "+380 (63) 646 52 77";
}
.main_sec{
    background-color: #dfd3b9;
    color: #24282f;
    border-bottom: #b5a263 3px solid;
}
.text_block{
    padding-top: 50px;
    width: 50%;
}
.main_sec h2{
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #24282f;
    text-transform: uppercase;
}
.main_sec p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}
.main_sec img{
    width: 50%;
}

.button_main_sec{
    display: inline-block;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
    border: 2px solid #24282f;
    color: #ffffff;
    font-weight: bold;
    background-color: #24282f;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-top: 13px;
}
.projects{
    padding-bottom: 44px;
    border-bottom: #b5a263 3px solid;
}
.button_main_sec:hover{
    background-color: #dfd3b9;
    color: #24282f;
}
.projects_h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #24282f;
    text-transform: uppercase;
    margin-top: 30px;
}
.projects_gallery{
    margin-bottom: 44px;
}
.first_line{
    margin-bottom: 44px;
}
.first_line img{
    width: 22%;
}
.second_line img{
    width: 22%;
}

.show_all_button{
    border-radius: 38px;
    border: 1px solid #7c7e82;
    background-color: transparent;
    padding: 16px 30px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7c7e82;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 133px;
    transition: 0.5s;
}
.show_all_button:hover {
    color: white;
    background-color: #7c7e82;
    border-color: #7c7e82;
}
.programs_i_use{
    background-color: #dfd3b9;
    padding-top: 30px;
    border-bottom: #b5a263 3px solid;
}
.programs_i_use img{
    width: 33%;
}
.photoshop p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #24282f;
}
.photoshop p span{
    font-size: 22px;
    font-weight: bold;
    color: #004d99;
}
.photoshop{
    width: 75%;
    padding: 20px 10px;
    border: 4px solid #004d99;
    -webkit-box-shadow: 10px 10px 15px 5px #968752;
    box-shadow: 10px 10px 15px 5px #968752;
    margin-bottom: 30px;
}
.progs_h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #24282f;
    text-transform: uppercase;
}
.text_me{
    background-color: #fff;
    border-bottom: #b5a263 3px solid;
}
.footer_1_input{
    color: #24282f;
    padding: 10px;
    width: 100%;
    border: 1px solid #24282f;
    background-color: transparent;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: none;
}
.footer_1_input_2{
    color: #24282f;
    padding: 10px;
    width: 100%;
    border: 1px solid #24282f;
    background-color: transparent;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: none;
    height: 150px;
}
.footer_1_button{
    width: 100%;
    background-color: #b5a263;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    border: 2px solid #b5a263;
}
.footer_1_button:hover{
    color: #b5a263;
    background-color: white;
    transition: 0.4s;
}
.email_h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #24282f;
    text-transform: uppercase;
}
.text_me img{
    width: 40%;
}
.email{
    padding-top: 30px;
}
textarea {
    resize: none;
    width: 100%;
}
footer{
    background-color: #24282f;
}
.footer_h3{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #5f636a;
    padding-top: 22px;
    padding-bottom: 22px;
}